<?xml version="1.0" encoding="UTF-8"?>
<interface>
  <menu id="main-menu">
  </menu>
  <menu id="file-menu">
	      <item>
	        <attribute name="action">app.commands</attribute>
	        <attribute name="label" translatable="yes">_Команды</attribute>
	      </item>	      
	      <item>
	        	<attribute name="action">app.quit</attribute>
	        	<attribute name="label" translatable="yes">_Выход</attribute>
	        	<attribute name="accel">&lt;Primary&gt;q</attribute>
	      </item>
  </menu>
  
</interface>